.footer {
    background-image: linear-gradient(to right, rgb(86, 125, 216) , rgb(28, 62, 232));
    color: #fff;
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }