<div class="head">
  <div class="title-name"><h3>Card Transactions Analysis</h3></div>
  <div class="d-flex">
    <div class="usr-name">
      <h5>Welcome, {{ getSessionUsername() }}</h5>
    </div>
    <div>
      <button class="logout" (click)="logoutUser()" title="Log out of your account">
        <i class="bi bi-power"></i>
     </button>
    </div>
  </div>
</div>
<div style="height: max-content;">
  <nav class="navbar  navbar-custom navbar-expand-lg ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dash-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link icon-tag" routerLink="dashboard" (click)="selectMenu('','')"><i class="bi bi-house-door"></i>Dashboard</a>
          </li>
          <li class="nav-item" routerLinkActive="active" (click)="selectMenu('Card Wise Spent','bi bi-person-vcard')">
            <a class="nav-link icon-tag-1"  [routerLink]="['card', 'FILTER_TXN_BY_CARD']"><i class="bi bi-person-vcard"></i> Card wise</a>
          </li>
         
          <li class="nav-item" routerLinkActive="active" (click)="selectMenu('Gender Wise Spent','bi bi-universal-access')">
            <a class="nav-link icon-tag-2" [routerLink]="['gender', 'FILTER_TXN_BY_GENDER']"><i class="bi bi-universal-access"></i> Gender Wise</a>
          </li>
          <li class="nav-item" routerLinkActive="active" (click)="selectMenu('Sales Wise Spent','bi bi-cash')">
            <a class="nav-link icon-tag-3" [routerLink]="['sales', 'FILTER_TXN_BY_EXPANSE']"><i class="bi bi-cash"></i>Sales Wise</a>
          </li>
          
          <li class="nav-item" routerLinkActive="active" (click)="selectMenu('Institution Wise Spent', 'bi bi-bank2')" *ngIf="showresetform">
            <a class="nav-link icon-tag-4" [routerLink]="['institution','wise']"><i class="bi bi-bank2"></i> Institution Wise</a>
          </li>
          <li class="nav-item" routerLinkActive="active" (click)="selectMenu('All Transactions', 'bi bi-keyboard')">
            <button class="nav-link icon-tag-5"  routerLink="transactionDetails"><i class="bi bi-keyboard"></i> Transactions</button>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>


<div class="content-title">
<h4 *ngIf="selectedMenuItem && selectedMenuIcon" class="icon-container">
    <i class='{{selectedMenuIcon}}'></i>
</h4>
<div class="menu-name">
  <h5> {{ selectedMenuItem }} </h5>
</div>
</div>


  
