<form [formGroup]="loginform " (ngSubmit)="onSubmit()">
    <!-- <section class="vh-100"> -->
      <header style="height: 50px;">
        <h1>Welcome to Data Visualization Portal</h1>
      </header>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6">
          <!-- src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" -->
          <img src="assets\images\maveric.jpg" class="img-fluid" 
            alt="Sample image">
        </div>
        <!-- Email input -->
        
        <div class="col-6">
          <H3>Sign In </H3>
          <label class="form-label" for="email">Email address:</label>
          <input type="email" id="email" name="email" class="form-control form-control-lg"
            placeholder="Enter a valid email address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && d['email'].errors && (d['email'].touched || d['email'].dirty) }" />

          <div *ngIf="submitted && d['email'].errors && (d['email'].touched || d['email'].dirty)" class="invalid-feedback">
              <div *ngIf="d['email'].hasError('required')">Email is required</div>
              <div *ngIf="d['email'].hasError('email')">Invalid Email</div>
             
          </div>
          
        <!-- <br> -->
        <label class="form-label" for="password">&nbsp;&nbsp;Password:</label>
        <input type="password" id="password" class="form-control form-control-lg" placeholder="Enter password"
          formControlName="password"  [ngClass]="{ 'is-invalid': submitted && d['password'].errors && (d['password'].touched || d['password'].dirty) }" />
        
          <div *ngIf="submitted && d['password'].errors && (d['password'].touched || d['password'].dirty)" class="invalid-feedback">
              <div *ngIf="d['password'].hasError('required')">Password is required</div>
              <div *ngIf="d['password'].hasError('minlength') && !d['password'].hasError('pattern')">Password must contain at least Eight characters</div>
              <span *ngIf="d['password'].hasError('pattern') && !d['password'].hasError('required')">
                  Password must contain at least one: <span *ngIf="d['password'].hasError('uppercase')">Uppercase letter, </span>
                  <span *ngIf="d['password'].hasError('lowercase')">Lowercase letter, </span>
                  <span *ngIf="d['password'].hasError('digit')">Digit, </span>
                  <span *ngIf="d['password'].hasError('specialcase')">Special character</span>
              </span>
          </div>
        <br />
        <div>
          <input class="form-check-input me-2" type="checkbox" value="" id="check" />
          <label class="form-check-label" for="check">
            Remember me
          </label>
        </div>
        <div></div>
        <div>
          
          <a href="forget-password" class="link-danger">Forgot password?</a>
        </div>
        <div></div>
        <br>
        <div>
          <button type="submit" 
            class="btn btn-primary btn-lg centered-button">Sign In</button>
        </div>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="signup" >Sign Up</a>
          <br><br>
        </p>
      </div>
    </div>
  </div>
  <!-- </section> -->

</form>
<router-outlet></router-outlet>